.footer {
    background-color: #2d2d32;
    padding: 2rem 1rem;
    color: white;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.footer-links-section {
    flex: 1;
    min-width: 200px; /* Minimum width for each section */
    margin: 1rem;
    color: white;
}

.footer-links-section h4 {
    font-size: 18px;
    margin-bottom: 0.5rem;
}

.footer-links-section p {
    font-size: 15px;
    margin: 0.5rem 0;
    cursor: pointer;
}

a {
    color: rgb(175, 175, 179);
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /* Add hover effect */
}

.footer-below {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.footer-copyright p {
    font-size: 13px;
}

.footer-below-links {
    display: flex;
}

.footer-link {
    margin-left: 1rem;
    font-size: 13px;
    color: rgb(175, 175, 179);
}

.footer-link:hover {
    text-decoration: underline; /* Add hover effect */
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: 1rem 0;
}

@media screen and (max-width: 850px) {
    .footer-links {
        flex-direction: column;
    }

    .footer-below {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-below-links {
        margin-top: 1rem;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-link {
        margin-left: 0; /* Remove left margin on mobile */
        margin-top: 0.5rem; /* Add top margin for spacing */
    }
}
