.productDetailContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .row1 {
    display: flex;
    justify-content: flex-end;
    align-items: center; /* Center align items vertically */
    margin-bottom: 20px;
  }
  
  .imageContainer {
    flex: 0.6;
  }
  
  .productImage {
    width: 60%;
    height: auto;
  }
  
  .infoContainer {
    flex: 1;
    padding-left: 20px;
  }
  
  .productTitle {
    font-size: 24px;
    margin: 0;
  }
  
  .productPrice {
    font-size: 20px;
    color: #b12704;
  }
  
  .quantityContainer {
    margin: 10px 0;
  }
  
  .quantityInput {
    width: 50px;
    margin-left: 10px;
  }
  
  .buttonContainer {
    margin-top: 10px;
  }
  
  .btnBuy, .btnAddToCart {
    padding: 10px 15px;
    margin-right: 10px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btnAddToCart {
    background-color: #28a745;
  }
  
  .btnBuy:hover, .btnAddToCart:hover {
    opacity: 0.9;
  }
  
  .row2 {
    border-top: 1px solid #ccc;
    padding-top: 10px;
  }
  