.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 99%;
    padding: 5px;
    background: #2d2d32;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.inputWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #333;
    border-radius: 8px;
    padding: 8px;
    background-color: #fff;
}

.productDropdown {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px;
    max-height: 300px;
    overflow-y: auto;
    z-index: 1000;
    margin-top: 5px;
}

.productItem {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    /* Change cursor on hover */
}

.productItem:hover {
    background-color: #f1f1f1;
}

.productImage {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.logo {
    font-size: 32px;
    color: #fff;
    font-weight: 700;
}


/* Icon Styling */
.searchIcon {
    margin-right: 8px;
    padding-top: 8px;
    font-size: 20px;
    /* Adjust icon size */
    color: #000000;
    /* Black color for the icon */
}

/* Input Styling */
.searchInput {
    border: none;
    outline: none;
    flex: 1;
    font-size: 16px;
}


.searchInput {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    color: black;
    margin-left: 10px;
    outline: none;
    /* Remove outline */
    font-size: 16px;
}

.searchInput::placeholder {
    color: #999;
    /* Placeholder color */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navItem {
    margin: 0 15px; /* Adjust spacing as needed */
}

.navLink {
    text-decoration: none;
    color: #ffffff; /* Adjust text color */
    font-weight: bold;
}


.navItem:hover {
    color: #f0f0f0;
    /* Change color on hover */
}

.dropdown {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100px;
    max-height: 300px;
    overflow-y: auto;
    z-index: 1000;
    margin-top: 5px;
}

.dropdownItem {
    display: block;
    /* Makes the links block-level */
    padding: 10px 20px;
    /* Padding for the links */
    color: #333;
    /* Link color */
    text-decoration: none;
    /* Remove underline */
    transition: background-color 0.3s;
    /* Transition for background */
}

.dropdownItem:hover {
    background-color: #f0f0f0;
    /* Background on hover */
}